# This file should be called 'config' and placed in the ~/.ssh directory

Host modifyinkapi
    HostName 162.243.104.55
    User root
    IdentityFile ~/.ssh/id_rsa
Host modifyinkpublic
    HostName 107.170.97.87
    User root
    IdentityFile ~/.ssh/id_rsa
Host modifyinkfiles
    HostName 107.170.97.202
    User root
    IdentityFile ~/.ssh/id_rsa
Host modifyinkdev
    HostName 107.170.84.53
    User root
    IdentityFile ~/.ssh/id_rsa
Host modifyinkdb
    HostName 107.170.97.200
    User root
    IdentityFile ~/.ssh/id_rsa
Host recipes
    HostName 104.131.165.194
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform1
    HostName tp-platform1.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform2
    HostName tp-platform2.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform3
    HostName tp-platform3.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform4
    HostName tp-platform4.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform5
    HostName tp-platform5.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform6
    HostName tp-platform6.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform7
    HostName tp-platform7.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform8
    HostName tp-platform8.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform12
    HostName tp-platform12.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host platform13
    HostName tp-platform13.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host salesforce
    HostName tp-platform-sf.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host devcloud
    HostName tp-dev-mongo1.vivint.com
    User root
    IdentityFile ~/.ssh/id_rsa
Host panel
    HostName 10.1.24.106
    User root
    IdentityFile ~/.ssh/id_rsa
